body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
    height: 100vh;
}

video, canvas {
    width: 80vw;
    height: 60vh;
    border: 3px solid #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.confidence {
    font-size: 24px;
    color: #333;
    font-weight: bold;
    margin-top: 20px;
    background-color: skyblue;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}
#startButton {
    background-color: #4CAF50; /* Green */
    color: white;
}
#startButton:hover {
    background-color: #45a049; /* Darker Green */
}
#stopButton {
    background-color: #f44336; /* Red */
    color: white;
}
#stopButton:hover {
    background-color: #e53935; /* Darker Red */
}
#stopButton:disabled {
    background-color: #ccc; /* Gray for disabled */
    cursor: not-allowed;
}
#averageButton {
    background-color: #3f51b5; /* Blue */
    color: white;
}
#averageButton:hover {
    background-color: #3949ab; /* Darker Blue */
}
#averageButton:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}